<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script language="javascript">
      setInterval(function(){
        window.location.reload(1);
      }, 30000);
    </script>
    <title>Main Page</title>
    <style>
    .div1
    {
    width: 60%;
    height: auto;
    font-size:400 px;
    font-family:arial;
    border: 3px solid purple;
    margin-right:10px;
    border-radius:20px;
    margin-left:20px;
    }
    .section:after
    {
    content: "";
    display: table;
    clear: both;
    position: fixed;
    }
    .animation
    {
    padding: 20px;
    margin-left:68%;
    margin-top:-47%;
    position:fixed;
    }
    </style>
  </head>
  <body>
    {% if Status=='Wrong' %}

      <h1>Wrong Password</h1>


    {% elif Status=='Ok' or Status=='New' %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <section>

      <h1 style="font-size:30px;font-family:arial;font-style:italic;padding-left:35px">  Username : {{ User.Username }}</h1>
      <h4 style="font-size:25px;font-family:arial;padding-left:35px">Overall Coding Score : {{ User.Score }}</h4>
      <h4 style="font-size:25px;font-family:arial;padding-left:35px">Account Status : {{ Status }}</h4>
    <br>
      <input type="button" value="Instruction" onclick="parent.location='instruction.html'">
      <input type="button" value="Rank List" onclick="parent.location='rank_list.html'">


        {% for item in Question %}
        <div class="div1">

            <h4 style="font-size:20px;padding-left:15px">Question {{ item['id'] }}</h4>
            <h6 style="font-size:15px;font-style:italic;padding-left:15px">Problem Statement<br> {{ item['explanation'] }}</h6>
            {% if item['id'] not in User.Progress %}
              <form action="check" method="POST" enctype="multipart/form-data">
              <input type="file" name="file" value="Upload Solution" accept=".py" style="padding-left:60%">
              <input type="hidden" name="index" value={{ item['id'] }}>
              <input type="hidden" name="userKey" value={{ User.Username }}>
              <input type="submit" name="" value="Upload">
            {% else %}
              <h4> You have already attempted succesfully.</h4>
            {% endif %}
            </form>
            <br>
            <br>

        </div>
        <br>
        <br>
        {% endfor %}



      <div class="animation">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRFmpKPzRep43-PnT0TE8UKxTHlExlPRKW8WA&usqp=CAU" alt="Coding" class="img-thumbnail" style="width:430px;height:600px">
      </div>
      </section>





    {% endif %}

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <br>

  <br>

  </body>
</html>
