<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main Page</title>
  </head>
  <body>
    {% if Status=='Wrong' %}

      <h1>Wrong Password</h1>


    {% elif Status=='Ok' or Status=='New' %}

      <h1>Username= {{ User.Username }}</h1>
      <h4>Score= {{ User.Score }}</h4>

      <ul>

        {% for item in Question %}
          <li>
            <h5>No. {{ item['id'] }}</h5>
            <h6>Problem Statement {{ item['explanation'] }}</h6>
            <form action="check" method="POST" enctype="multipart/form-data">
              <input type="file" name="file" value="Upload Solution">
              <input type="hidden" name="index" value={{ item['id'] }}>
              <input type="submit" name="" value="Upload">
            </form>
          </li>
        {% endfor %}
      </ul>


    {% endif %}



  </body>
</html>
